node_modules

.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea

.husky/*
!/.husky/pre-commit

.turbo/
.netlify/
.react-router/

/app/dist/
/app/dist-ssr/
/web/build/

*.local

logs/
*.log
pnpm-debug.log*
tsconfig.tsbuildinfos
